*{
    
    background: #FFFFFF;
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Quicksand', sans-serif;
    overflow-x: hidden;
}
.container{
    width: fit-content;
    
    margin: none;
    
}
.container img{
    width: 100%;
    height: 100%;
}
.container h1{
    background: transparent;
    position: absolute;
    color:#FFFFFF;
    top: 50%;
    left: 80%;
    font-size: 40px;
    font-stretch: 600;
}
.container h2{
    background: transparent;
    position: absolute;
    color:#FFFFFF;
    top: 55%;
    left: 85%;
    font-size: 20px;
}
.fixed{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #D00F0F;
    top: none;
    justify-content: center;
    box-sizing: content-box;
}

.bar1{
    width: 100%;
    height: 10%;
    background-color: #D00F0F;
    top: none;
    justify-content: center;
    box-sizing: content-box;
    
}

.barname{
    width: 30%;
    height: 10%;
    background-color: #750606;
}
.barname h1{
    padding: 15px 60px;
    background: transparent;
    color: #FFFFFF;
    font-weight: 600;
}
.bar1 ul{
    float: right;
    border: none;
    padding: 20px 60px;
    justify-content: space-around;
    background: transparent;
}
.bar1 ul li{
    background: transparent;
    display: inline;
    font-size: 20px;  
    margin: 5px; 
}
.bar1 ul li a{
    background: transparent;
    text-decoration: none;
    color: #fff;
}
.bar1 ul li:hover{
    background: #750606 ;
    text-decoration: none;
    color: #fff;
    padding:15px;+
    border-radius: 15px;
}
.home{
    width: 100%;
    height: auto;
    padding: 60px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.home h1{
    font-weight: 600;
    font-size: 40px;
    color:000;
    
}
.text1{
    
    width: 30%;
    border: none;
    float: left;
}
.text1 h1{
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;


}
.text1 p{
    text-align: center;
    font-size: 20px;
    padding: 15px 5px;
    justify-content: center;

}

.luck{
    position: relative;
    width: 200px;
    height: 200px;
    background: #D00F0F;
    transform: rotate(-45deg);
    justify-content: center;
    
}

.header{
    width: 100%;
    height: auto;
    border: none;
    padding: 160px;
}
.header h1{
    text-align: center;

}
.imgcontainer{
    width: fit-content;
    padding: 220px 0;
}
.imgcontainer img{
    width: 100%;;
}
.about{
    width: 100%;
    padding: 5px;
}
.about h1{
    text-align: center;
    font-size: 40px;
    color: #D00F0F;
}
.about h2{
    text-align: center;
    font-size: 24px;
    color: #968989;
    padding-bottom: 65px;
}
.logcont{
    width: 100%;
    height: fit-content;
    padding: 35px;
    background-color: #CECCCC;
    display: flex;
    justify-content: space-around;
    
}
.logcont img{
    
    width: 118px;
    height:fit-content;
    background: transparent;   
}
.divcont{
    width: 100%;
    height: fit-content;
    display: block;
    background-color: #CECCCC;
    margin: 60px 0px;
    padding: 15px;
}
.divcont h1{
    font-size: 40px;
    text-align: center;
    background: transparent;
}
.divcont p{
    font-size: 24px;
    text-align: center;
    background: transparent;
}
.email{
    width: 100%;
    height: fit-content;
    padding: 60px;

}
.email input{
    width: 30%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #CECCCC; 
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-family: 'Quicksand', sans-serif;
    overflow-x: hidden;
}
.email textarea{
    width: 80%;
    height: 50%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #CECCCC; 
    padding-top: 25px;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-family: 'Quicksand', sans-serif;
    overflow-x: hidden;
}
.button{
    width: fit-content;
    height: fit-content;
    background-color: #D00F0F;
    color: #fff;
    padding: 5px 35px;
    border: none;
    font-size: 24px;
}
.button:hover{
    background-color: #750606;
}
.contact{
    width: 100%;
    height: fit-content;
    padding: 15px;
    background-color: #750606;
    margin-top: 60px;
    
}
.contact h1{
    color: #fff;
    text-align: center;
    font-size: 40px;
    background: transparent;
}
.contact p{
    color: #fff;
    text-align: center;
    font-size: 24px;
    text-align: center;
    background: transparent;
}
